@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.App {
  text-align: center;
  /* background: #007f5f; */
  background: beige;
  color:#007f5f;
  font-family: 'Josefin Sans', sans-serif;
}
 /* box shadow on all inputs box shadow  0 0 10 black*/
 /* different fonts for text and body */
 /* change background of  course divs */
.no-edit{
  display: none;

}



label {
  color: #ffff3f;
}

.edit-info{
  /* color: black; */
  color: #ffff3f;
}

.edit-info input {
  border-radius: 0.5rem;
}

/* table styling */

th {
  border-bottom: 1px solid black;
  height: 3rem;
 
}
.summary-table-container{
  margin-top: 5px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: top;
  justify-content: center;
  color: white


}

table {
  border: 4px solid forestgreen;
  width: 1000px;
  height: auto;
  table-layout: fixed;
}



.summary-table tbody tr:nth-child(odd) {
  background-color: #80b918; 
}

.summary-table tbody tr:nth-child(even) {
  background-color: #55a630; 
}

.login-text{
  color:#dddf00;
  text-shadow: 0 0 15px;
}

td {
  text-align: center;
  border-bottom: 1px lightgray ;
  height: 6rem;
  
}

thead{
  background-color: #ffff3f;
  color:#007f5f
}

.handicap{
  margin-top: 2rem;
}

/* login page styling */

.login-page-div{
  color: yellow;
  background-color: rgba(122, 96, 9, 0.3);
  border:  4px solid;
  height: 20rem;
  width: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 15px;
}

.login-email-label, .login-password-label{
  display: flex;
  align-content: space-between;
  font-size: 25px;
}

.login-email-input input, 
.login-password-input  input {
  margin-bottom: 3rem;
  width: 30rem;
  border-radius: 0.5rem;
  height:2.5rem;
  background-color: white;
  color: red;
  font-weight: bold;
}



.login-buttons{
  display: flex;
  justify-content: space-between;
  border-radius: 1rem;
  
}

a {
  text-decoration: none; 
  color: inherit;
}

a:hover {
  text-decoration: none; 
  color: inherit; 
}

.nav-bar-elements{
  font-size: large;
  font-weight: bold;
}

/* sign up page styling */

.signup-page-div{
  color: yellow;
  border:  4px solid;
  height: 30rem;
  width: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(122, 96, 9, 0.3);
  box-shadow: 0 0 15px;
}

/* course page div */

.course-page-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bold;
  margin-top: 2rem;
  
}

.single-course{
  padding: 2rem 0;
  margin: 2rem;
  border: solid;
  border-color: yellow;
  border-radius: 1rem;
  transition: transform 0.3s ease;
  box-shadow: 0 0 15px;
  background-color: #55a630;
  color:#dddf00;
  position:relative;
}

.single-course:hover {
  transform: scale(1.05); 
  background-color: #2b9348;
}

.course-boxes{
  display: grid;
  grid-template-columns: 0.5fr 0.5fr ;
  margin: 2rem;
}

/* .course-error-message{
 display: none; 
} */

.course-error-message-h1{
  color: rgb(168, 28, 28)
}

.course-info {
  display: flex;
  align-items: center;
  
}

.delete-icon{
  position: absolute;
  bottom: 1rem;;
  right: 1rem;
  height: 2rem;
  
}

.course-image {
  width: 33.33%; 
  max-width: 100px;
  margin-right: 20px; 
}

.course-details {
  flex: 1; 
  text-align: left;
}

.create-course-div{
  color: yellow;
  background-color: #55a630;
  border:  4px solid;
  height: 20rem;
  width: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px;
}

/* round page styling */

.round-page-container-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}

.round-page-round-div{
  border: solid;
  border-color: yellow;

}

.round-guest-div{
  color: yellow;
  background-color: #55a630;
  border:  4px solid;
  height: 15rem;
  width: 40rem;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
  box-shadow: 0 0 15px;
}

.round-labels label{
  display: flex;
  align-content: start;
  font-size: 25px;
}

.round-inputs input{
  margin-bottom: 1.25rem;
  width: 30rem;
  border-radius: 0.5rem;
  height:2.5rem;
  background-color: white;
  color: red;
  font-weight: bold;

}

.round-button{
  width: 10rem;
  margin-bottom:7rem;
}

/* Nav bar styling */

.nav-bar{
  background-color: #dddf00;
  color: #2b9348;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.nav-bar-elements{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-right: 1rem;
}

.nav-bar-elements a {
  flex: 1;
  text-align: center;
}

nav.nav-bar-elements button {
  flex: 1;
  text-align: center;
}

/* round summary styling */

.round-summary-div{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: beige;
  min-height: 100vh;
  margin: 0 auto;
}

.round-summary-box-div{
  border: solid;
  border:  4px solid;
  height: 33rem;
  width: 50rem;
  padding: 0.5rem;
  margin: 2rem;
  background-color: #55a630;
  color: #dddf00;

}



.course-info, .course-values {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
 
}

.round-summary-div button{
  width: 10rem;
}

.edit-button{
  margin-right: 5rem;
}

.round-summary-edit-course,
.round-summary-edit-round,
.round-summary-edit-guest{
  margin-bottom: 3rem; 

  
}

.round-summary-edit-course label,
.round-summary-edit-round label,
.round-summary-edit-guest label{
  font-size: x-large;
}

.round-summary-edit-course input,
.round-summary-edit-round input,
.round-summary-edit-guest input{
  width: 8rem;
}



